@font-face {
	font-family: "iconfont"; /* Project id 2719723 */
	src: url("//at.alicdn.com/t/font_2719723_nn1brr8numl.woff2?t=1629428507297")
			format("woff2"),
		url("//at.alicdn.com/t/font_2719723_nn1brr8numl.woff?t=1629428507297")
			format("woff"),
		url("//at.alicdn.com/t/font_2719723_nn1brr8numl.ttf?t=1629428507297")
			format("truetype");
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
